<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas De Datos</title>
    <link rel="icon" href="../imagenes/logo.png">
    <link rel="stylesheet" href="../../css/estilo.css">

    <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <header id="header">
        <div class="row">
            <div class="izq">
                <a href="../../login.html"><img id="img" src="../imagenes/logo.png" class="d-inline-block align-top" alt=""></a>
                <a href="../../login.html">AngieGram</a>
            </div>
            <div class="centro">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>

    <div class="col-md-11">
        <table class="table table-bordered" id="tpd">
            <thead>
                <tr>
                    <th class="titulo" scope="col" colspan="2">
                        <h4>Servicio De Ayuda - </h4>
                        <h5>Centro de privacidad y seguridad</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="tdpd">
                        <h3><b> Politica de datos de AngieGram </b></h3><br>
                        <p>En esta política se describe la información que tratamos a fin de proporcionar los servicios de AngieGram, así como de otros productos y funciones que AngieGram ofrece (“Productos de AngieGram” o “Productos”). Encontrarás herramientas
                            e información adicionales en la configuración de AngieGram.</p>
                        <p></p><br>

                        <h5><b>I. ¿Qué tipos de información recopilamos?</b>
                        </h5><br><br>
                        <p>Debemos tratar tu información a fin de proporcionarte los Productos de AngieGram. El tipo de información que recopilamos depende de la forma en la que usas nuestros Productos. Obtén información sobre cómo acceder a los datos que
                            recopilamos y cómo eliminarlos en la configuración de AngieGram.</p><br>



                        <h5><b> Cosas que tú y otras personas hacéis y nos proporcionáis </b></h5>
                        <ul>
                            <br>
                            <li><b>Información y contenido que nos proporcionas:</b>Recopilamos el contenido, las comunicaciones y otros datos que proporcionas cuando usas nuestros Productos, por ejemplo, cuando te registras para crear una cuenta, creas o
                                compartes contenido y envías mensajes a otras personas o te comunicas con ellas. Esta información puede corresponder a datos incluidos en el contenido que proporcionas (por ejemplo, los metadatos) o relacionados con este,
                                como el lugar donde se hizo una foto o la fecha de creación de un archivo. También puede incluir el contenido que ves a través de las funciones que ponemos a tu disposición, como la cámara, de modo que podamos realizar
                                acciones como sugerirte máscaras y filtros que quizá te interesen, así como darte consejos sobre cómo usar los formatos de cámara. Nuestros sistemas realizan automáticamente el tratamiento del contenido y las comunicaciones
                                que tú y otras personas proporcionáis para analizar el contexto y lo que incluyen en relación con los propósitos que se describen a continuación. Obtén más información sobre cómo controlar quién puede ver el contenido que
                                compartes.
                            </li><br>

                            <li><b>Redes y conexiones:</b><br> Recopilamos información sobre las personas, las páginas, las cuentas, los hashtags y los grupos a los que estás conectado y cómo interactúas con ellos en nuestros Productos, por ejemplo, las personas
                                con las que más te comunicas o los grupos de los que formas parte. También recopilamos información de contacto si eliges subirla, sincronizarla o importarla desde un dispositivo (como una agenda de direcciones, un registro
                                de llamadas o un historial de SMS).
                            </li><br>

                            <li><b>Tu Uso:</b><br> Recopilamos información sobre cómo usas nuestros Productos, como los tipos de contenido que ves o con los que interactúas, las funciones que utilizas, las acciones que llevas a cabo, las personas o cuentas
                                con las que interactúas y la hora, la frecuencia y la duración de tus actividades. Por ejemplo, registramos cuándo estás usando y cuándo has usado nuestros Productos por última vez, y qué publicaciones, vídeos y otro tipo
                                de contenido ves en nuestros Productos. También recopilamos información sobre cómo usas funciones como nuestra cámara.
                            </li><br>

                            <li><b>Información sobre transacciones realizadas en nuestros Productos.:</b><br> Si usas nuestros Productos para efectuar compras u otras transacciones económicas (por ejemplo, cuando compras algo en un juego o haces una donación),
                                recopilamos datos sobre dichas compras o transacciones. Esos datos incluyen la información del pago, como el número de tu tarjeta de crédito o débito y otra información sobre la tarjeta, así como datos sobre la cuenta y
                                la autenticación, y detalles de facturación, envío y contacto.
                            </li><br>

                            <li><b>La actividad de otros usuarios y la información que proporcionan sobre ti:</b><br> También recibimos y analizamos contenido, comunicaciones e información que nos proporcionan otras personas al usar nuestros Productos. Estos
                                datos pueden incluir información sobre ti, como en caso de que otras personas compartan o comenten una foto tuya, te envíen un mensaje o suban, sincronicen o importen tu información de contacto.</li>
                        </ul><br>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


</body>

</html>