<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos Y Condiciones</title>
    <link rel="icon" href="../imagenes/logo.png">
    <link rel="stylesheet" href="../../css/estilo.css">

    <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <!--<header id="header">
        <nav class="navbar navbar-light bg-light" id="navpd">
            <img id="imgpd" src="../imagenes/logo.png" class="d-inline-block align-top" alt="">
            <a class="navbar-brand" href="#">
                 AngieGram
            </a>

        </nav>
    </header>
-->

    <header id="header">
        <div class="row">
            <div class="izq">
                <a href="../../login.html"><img id="img" src="../imagenes/logo.png" class="d-inline-block align-top" alt=""></a>
                <a href="../../login.html">AngieGram</a>
            </div>
            <div class="centro">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>

    <div class="col-md-11">
        <table class="table table-bordered" id="tpd">
            <thead>
                <tr>
                    <th class="titulo" scope="col" colspan="2">
                        <h4>Servicio De Ayuda - </h4>
                        <h5>Centro de privacidad y seguridad</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="tdpd">
                        <h3><b> Condiciones de uso</b></h3><br>
                        <p>Te damos la bienvenida a AngieGram.</p>
                        <p>Estas Condiciones de uso rigen el modo en que utilizas AngieGram, y en ellas se proporciona información sobre el Servicio de AngieGram, descrito en detalle a continuación. Cuando creas una cuenta de AngieGram o usas la plataforma,
                            aceptas estas condiciones.</p><br>

                        <h5><b> Servicio de AngieGram</b></h5><br><br>
                        <p>Aceptamos proporcionarte el Servicio de Angieram, que incluye todos los productos, las funciones, las aplicaciones, los servicios, las tecnologías y el software de AngieGram que ofrecemos para cumplir el propósito de la plataforma,
                            esto es, conectarte con las personas y las cosas que te importan. El Servicio se compone de los siguientes aspectos (el “Servicio”):</p><br>


                        <ul>
                            <li><b>Ofrecer oportunidades personalizadas para crear, conectarse, comunicarse, descubrir y compartir:</b><br> Cada persona es distinta, por eso, en nuestro esfuerzo por contribuir a fortalecer tus relaciones, queremos hacerlo
                                por medio de experiencias compartidas que de verdad te interesen. Con esta finalidad, creamos sistemas cuyo objetivo es intentar definir qué cosas y personas os interesan a ti y a otros, a fin de utilizar esa información
                                para ayudarte a crear, encontrar y compartir experiencias que te sean relevantes, como también unirte a ellas. Parte de este proceso conlleva destacar contenido, funciones, ofertas y cuentas que podrían interesarte, así
                                como ofrecerte formas de experimentar Instagram en función de lo que tú y otras personas hacéis tanto dentro como fuera de la plataforma.
                            </li><br>

                            <li><b>Fomentar un entorno positivo, inclusivo y seguro:</b><br> Desarrollamos y empleamos herramientas, y ofrecemos recursos a los miembros de nuestra comunidad para contribuir a que vivan experiencias integradoras y positivas,
                                incluso cuando creemos que pueden necesitar ayuda. También contamos con equipos y sistemas cuyo propósito es combatir el abuso y las infracciones de nuestras Condiciones y políticas, así como erradicar comportamientos dañinos
                                y engañosos. Utilizamos toda la información de que disponemos, incluida la tuya, para proteger nuestra plataforma. Asimismo, es posible que compartamos información sobre usos incorrectos o contenido dañino con otras empresas
                                o las autoridades policiales. Obtén más información en la <a href="politicadedatos.html">Politica de datos.</a>
                            </li><br>

                            <li><b>Desarrollar y utilizar tecnologías que nos ayuden a ofrecer servicios de forma continua a nuestra comunidad en constante crecimiento:</b><br> Para ofrecer nuestro Servicio en condiciones óptimas, es fundamental organizar
                                y analizar la información de nuestra creciente comunidad. Gran parte de nuestro Servicio consiste en crear y usar tecnologías de vanguardia que nos ayuden a personalizar, proteger y mejorar nuestro Servicio a gran escala,
                                de forma que pueda estar disponible para una amplia comunidad internacional. Tecnologías como la inteligencia artificial y el aprendizaje automático nos permiten aplicar procesos complejos a todos nuestros Servicios. Estas
                                tecnologías automatizadas también posibilitan que podamos garantizar la funcionalidad e integridad de dicho Servicio.
                            </li><br>

                            <li><b>Conectarte con marcas, productos y servicios de formas que te resulten relevantes:</b><br> Utilizamos datos de AngieGram y de otros Productos de las empresas, así como de socios externos, para mostrarte anuncios, ofertas
                                y otro contenido patrocinado que creemos que te puede interesar. Intentamos que este contenido te resulte tan relevante como el resto de las experiencias en AngieGram.
                            </li><br>

                            <li><b>Investigar e innovar:</b><br> Usamos la información de que disponemos para estudiar nuestro Servicio y colaborar con otras partes en la realización de investigaciones que nos permitan mejorar dicho servicio y contribuir
                                al bienestar de nuestra comunidad.</li>
                        </ul><br>

                        <h5>Politicas de datos</h5><br><br>
                        <p>Para proporcionar nuestro Servicio, debemos recopilar y usar tu información. En la <a href="politicadedatos.html">Política de datos</a> se explica cómo recopilamos, usamos y compartimos información en los Productos. También se
                            detallan las formas en que puedes controlar tu información, por ejemplo, desde la configuración de seguridad y privacidad de AngieGram. Debes aceptar la Política de datos para usar AngieGram.</p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


</body>

</html>